<div role="tabpanel" class="tab-pane config-section" id="accounts">
	<form method="POST" autocomplete="off" class="w-100">

		<div class="form-group">
			<label>
				账户邮箱白名单
				<small class="form-text text-muted">
					用户可在以下邮箱域下注册，多域用逗号分开
				</small>
			</label>
			<input class="form-control" id='domain-whitelist' name='domain_whitelist' type='text'
				   placeholder=""
				   {% if domain_whitelist is defined and domain_whitelist != None %}value="{{ domain_whitelist }}"{% endif %}>
			<small class="form-text text-muted">
				例： qq.com,163.com,ctfd.io,gmail.com
			</small>
		</div>

		<div class="form-group">
			<label>
				验证邮箱<br>
				<small class="form-text text-muted">
					配置用户注册是否需要邮箱验证
				</small>
			</label>
			<select class="form-control custom-select" name="verify_emails">
				<option value="true" {% if verify_emails == True %}selected{% endif %}>开启</option>
				<option value="false" {% if verify_emails == False or verify_emails == None %}selected{% endif %}>关闭</option>
			</select>
		</div>

		<div class="form-group">
			<label>
				团队规模<br>
				<small class="form-text text-muted">
					每个团队的队员数
				</small>
			</label>
			<input class="form-control" id="team_size" name="team_size" type="number" min="0" {% if team_size %}value="{{ team_size }}"{% endif %}>
		</div>

		<div class="form-group">
			<label>
				名称变更<br>
				<small class="form-text text-muted">
					配置用户是否可更改名称
				</small>
			</label>
			<select class="form-control custom-select" name="name_changes">
				<option value="true" {% if name_changes == True or name_changes == None %}selected{% endif %}>开启</option>
				<option value="false" {% if name_changes == False %}selected{% endif %}>关闭</option>
			</select>
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">更新配置</button>
	</form>
</div>